@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WCF Service Calculator Test</h1>
    <p class="lead">Value A: <strong>@ViewBag.Data.ValueA</strong></p>
    <p class="lead">Value B: <strong>@ViewBag.Data.ValueB</strong></p>
    <p class="lead">Operation: <strong>@ViewBag.Data.Operation</strong></p>
    <p class="lead">Result: <strong>@ViewBag.Data.Result</strong></p>
    <br />
    <p class="lead">Book name: <strong>@ViewBag.BookName</strong></p>
    <p class="lead">Book Author name: <strong>@ViewBag.AuthorName</strong></p>
    <p><a href="mailto:brenomachado@gmail.com" class="btn btn-primary btn-lg">By brenomachado@gmail.com</a></p>
</div>
